@import '@splidejs/vue-splide/css';
@import '@splidejs/vue-splide/css/skyblue';
@import '@splidejs/vue-splide/css/sea-green';
@import '@splidejs/vue-splide/css/core';


.splide{
    padding: 0 !important;
}


.splide__list{
    flex-direction: column !important;
    gap:1rem;
}

.splide__list img{
   width: 100%;
}

@media screen and (max-width:768px) {
    .splide__list{
        flex-direction: row !important;
        gap:0 !important;
        margin-right:10px !important;
    }

    #thumbs{
        visibility: hidden;
        margin-top: 1rem;
        order: 1;
        height: 10px;
    }
}

